<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.ovp-group {
	background-color: var(--lightgray);
	max-width: 100vw !important;
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
    padding-inline: 0 !important;
	padding-block: 100px !important
}

.ovp-expandable-group {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline:100px;
}
.expandable-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}
.expandable-box-title {
	box-sizing: border-box;
	padding: 10px 15px;
	background-color: var(--orange);
	border-radius: 12px;
	cursor: pointer;
	width: 100%;
	display: flex;
	justify-content: space-between;
	color: white;
}
.expandable-box-content {
	overflow: hidden;
	padding: 0 20px;
	width: 98%;
	box-sizing: border-box;
	background-color: white;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	transition: max-height 0.5s ease, padding .5s ease;
	max-height: 0px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.expandable-box-content.open {
	max-height: 500px;
	transition: max-height 0.7s ease, padding 0.5s ease;
	padding: 20px;
}
.box{
	width: 500px;
	background-color: black;
}
.cotar-button{
	border-radius: 11px;
	color: white;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 40px;
	cursor: pointer;
	padding: 0;
	border: none;
	font-size: 18px;
	font-family: Montserrat, sans-serif;
}
.cotar-button:hover{
	color: white !important;	
}
.cotar-button-left{
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #1d1d1d;
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
}
.cotar-button-right{
	display: flex;
	width: 30%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: orange;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
}
.expandable-box-content .open a{
	width: max-content !important;
}

@media (max-width: 544px) {
	.ovp-expandable-group{
		padding-inline: 0 !important;	
	}
	.expandable-box-title{
		border-radius: 10px !important;
	}
	.expandable-box-content{
		width: 95% !important;	
	}
}</style>
<!-- end Simple Custom CSS and JS -->
