<!-- start Simple Custom CSS and JS -->
<style type="text/css">
:root {
	--footerColor: #5D5C5A;
	--orange: #f47d35;
}

footer.site-footer {
	display: none;
}

.footer-wrapper {
	background-color: var(--footerColor) !important;
}
		
.footer-wrapper .wp-block-column,
.footer-wrapper .wp-block-columns {
	text-align: center;
	height: 100%;
}
		
.footer-wrapper .footer-main-text {
	color: white;
	font-size: 24px;
	margin-bottom: 80px;
}	
		
.footer-wrapper .footer-text {
	color: white;
	font-size: 20px;
	margin: 0 !important;
}
		
.footer-wrapper .footer-text strong {
	color: var(--orange) !important;
	font-size: 24px;
}
		
.footer-wrapper button.footer-btn,
.footer-wrapper button.footer-social {
	cursor: normal;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	color: white;
	background-color: transparent;
	font-weight: normal;
	font-size: 24px;
	padding-left: 0;
	padding-right: 0;
}
		
.footer-social{
	width: 30px;
	height: 30px;
	padding: 0 !important;
}

.email{
	width: 40px;
	height: 30px;
	
}
		
.footer-info{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: center;
	margin: 0;
	padding-bottom: 20px;
}
		
.footer-last-icon{
	margin-right: 10px;	
}
		
.social-text{
	font-size: 24px !important;
	margin: 0 !important;
}
		
.contact-group{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-btn{
	padding: 0 !important;
}

		
.footer-divisor{
	margin-top: 0 !important;
	margin-bottom: 20px !important;
}
		
.footer-divisor p{
	margin-bottom: 10px !important;
}

.footer-divisor hr{
	margin: 0;
	height: 2px;	
}</style>
<!-- end Simple Custom CSS and JS -->
